    {% load static %}
     <!-- Footer-->
    
    <!-- Bootstrap core JS-->
    
    <link rel="stylesheet" href="{% static 'site/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/full-page-scroll.css' %}">

    <script src="{% static 'site/js/full-page-scroll.js' %}"></script>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
    <script src="{% static 'site/js/page-scroll.js' %}"></script>
    <script src="{% static 'site/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'site/js/wallet.js' %}"></script>
    <script src="{% static 'site/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'site/js/index.js' %}"></script>
   