 {% load static%}   
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="{% static 'site/font/SVN-Gilroy Regular.otf' %}" rel="stylesheet"/>
   <link href="{% static 'site/font/SVN-Gilroy SemiBold.otf' %}" rel="stylesheet"/>
   <link href="{% static 'site/font/SVN-Gilroy Medium.otf' %}" rel="stylesheet"/>
   <link rel="stylesheet" href="{% static 'site/css/index.css' %}">
   <link rel="stylesheet" href="{% static 'site/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css' %}">
   <link rel="stylesheet" href="{% static 'site/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'site/css/button.css' %}">
   <link rel="stylesheet" href="{% static 'site/css/full-page-scroll.css' %}">
   <!-- Script -->
   <script src="{% static 'site/js/wallet.js' %}"></script>
   <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
   <script src="{% static 'site/js/full-page-scroll.js' %}"></script>
   <script src="{% static 'site/js/page-scroll.js' %}"></script>
   <script src="{% static 'site/js/index.js' %}"></script>
   <script src="{% static 'site/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'site/jquery-3.6.0.js' %}"></script>
   <script src="{% static 'site/bootstrap-5.0.2-dist/js/bootstrap.bundle.js' %}"></script>
   <title>Termina</title>