<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./font/SVN-Gilroy Regular.otf" rel="stylesheet"/>
    <link href="./font/SVN-Gilroy SemiBold.otf" rel="stylesheet"/>
    <link href="./font/SVN-Gilroy Medium.otf" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/button.css">
    <script src="./js/index.js"></script>
    <script src="./bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="./jquery-3.6.0.js"></script>
    <script src="./bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <title>Termina</title>
    
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg" id="mainNav">
            <a class="navbar-brand" href="./index.html" id="brand">Termina</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link" href="./about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#market">Market</a></li>
                    <li class="nav-item"><a class="nav-link" href="#raise-capital">Raise Capital</a></li>
                    <li class="nav-item"><a class="nav-link" href="#developer">Developers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#ecosystem">Ecosystem</a></li>
                    <!-- <button type="button" class="btn btn-outline-primary">Connect</button> -->
                </ul>
            </div>
            <button type="button " class="btn btn-outline-primary fixbutton">Connect</button>
        </div>
    </nav>
    <div class="container marginTop100">
        <div class="row">
            <div class="col-lg-4 "><h2 class="text-white font-weight-bold">Solving the cost problem</h2></div>
            <div class="col-lg-8"><h2 class="text-white font-weight-bold">There's no need to repeat other career's path</h2></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="./assets/img/about2-pic.png" alt="" class="about2-pic1">
            </div>
            <div class="col-lg-5">
                <p>
                    With the blooming of DeFi in 2020 so far, DeFi's capitalization has reached more than 50 billion USD by July 2021. A rapid growth, leading to the cost of joining the network becoming more and more expensive and not suitable for microtransactions. Part of that is because the cost with DeFi operations has not really been cut to the maximum. DeFi boasts low costs but due to the strong price volatility of collateralized coins. And if the loan contract is liquidated, users will have to pay a stable fee ranging from 11 to 13%.
                </p>
                <div class = "contact">
                    <a href="https://www.facebook.com/thanhtra1910"><img src="./assets/img/facebook.png" alt=""></a>
                    <a href=""><img src="./assets/img/instagram.png" alt=""></a>
                    <a href=""><img src="./assets/img/twitter.png" alt=""></a>
                    <a href=""><img src="./assets/img/github.png" alt=""></a>
                    <a href=""><img src="./assets/img/linkedin.png" alt=""></a>
                    <a href=""><img src="./assets/img/send.png" alt=""></a>
                    <a href=""><img src="./assets/img/globe.png" alt=""></a>
                </div>
                <div class="mt-5">
                    <img src="./assets/img/sun.png" alt="Turn on light mode" id="light-mode">
                    <img src="./assets/img/moon.png" alt="Turn on dark mode" id ="dark-mode">
                    </div>
            </div>
            <div class="col-lg-3">
                <img src="./assets/img/about2-pic2.png" alt="" class="about2-pic2">
            </div>
        </div>
    </div>
    <!-- Footer-->
    
    <!-- Bootstrap core JS-->
    <script src="./bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    
    <script src="./jquery-3.6.0.js"></script>
    <script src="./js/index.js"></script>
    <link rel="stylesheet" href="./css/index.css">
      
</body>
</html>